<div class="animated fadeIn monitor-container">
  <gmap-map
    ref="gMap"
    :center="center"
    :zoom="8"
    style="height: calc(100vh - 60px);">
    
    <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
      <div class="info-window">
        <div class="mb-1"><i class="fal fa-calendar"></i><small class="text-muted ml-2">{{ marker.time }}</small></div>
      </div>
    </gmap-info-window>

    <gmap-marker
      :key="index"
      v-for="(m, index) in markers"
      :position="m.position"
      :label="m.label"
      :title="m.title"
      :clickable="true"
      :draggable="m.draggable"
      @click="toggleInfoWindow(m, index)">
    </gmap-marker>
    
  </gmap-map>

  <!-- <div v-if="loading" class="loader-view">
    <pulse-loader :loading="loading" color="#9da0a8"></pulse-loader>
  </div> -->

</div>