.walk-bg-color {
  background-color: #EB8F0E;
}
.walk-color {
  color: #EB8F0E;
}

.running-color {
  color: #36C978;
}
.running-bg-color {
  background-color: #36C978;
}

.bike-color {
  color: #36B7C9;
}
.bike-bg-color {
  background-color: #36B7C9;
}

.motorcycle-color {
  color: #3692C9;
}
.motorcycle-bg-color {
  background-color: #3692C9;
}

.bus-color {
  color: #7E36C9;
}
.bus-bg-color {
  background-color: #7E36C9;
}

.car-color {
  color: #3640C9;
}
.car-bg-color {
  background-color: #3640C9;
}

.red-color {
  color: $red !important;
}

.green-color {
  color: $green;
}

.light-gray-color {
  color: $gray-200;
}

.gray-color {
  color: $gray-300;
}